.ant-menu-horizontal {
  line-height: 30px !important;
}

.ant-tabs-tab {
  padding: 5px 10px !important;
}

.blocklyMainBackground {
  stroke: none;
}

.blocklyToolboxDiv {
  background-color: #ebebeb;
}

.blocklyFlyoutBackground {
  fill: #ebebeb !important;
}

.menu-item {
  height: 48px;
  display: flex;
  align-items: center;
}

.menu-item-right {
  text-align: right;
}

.menu-item-icon {
  font-size: 20px !important;
}
